.prompttxt{
    max-width: 35rem;
    height: auto;
    padding: .5rem .5rem;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: .5rem;
}

.promptheader{
    display: flex;
    align-items: center;
}

.promptheader p {
    font-weight: bolder;
}

.usericon{
    width: 20px;
    margin-right: .7rem;
}

.userprompt{
    margin-left: 1.9rem;
}