.displaycontainer{
    margin-top: 3.5rem;
    width: 100%;
    height: 92svh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(168,108,3,1) 100%);
    padding: .5rem 0;
}

.displaysection {
    margin: .5rem 25%;
    border: 1px solid black;
    border-radius: 20px;
    padding: .5rem .5rem;
    height: 87%;
    overflow-y: auto; 
}



.displaysection::-webkit-scrollbar {
    display: none;
}





@media (max-width:1200px){
    .displaysection{
        margin: .5rem 20%;
    }
}

@media (max-width:900px){
    .displaysection{
        margin: .5rem 10%;
    }
}

@media (max-width:450px){
    .displaysection{
        margin: .5rem 0;
    }
}