.displaycontainer{
    margin-top: 3.5rem;
    width: 100%;
    height: 93.3svh;
    background-image: linear-gradient(to right bottom, #781f8b, #632a8a, #4f3186, #3c347f, #2a3677);
    padding: .5rem 0;
}

.displaysection {
    margin: .5rem 25%;
    border: 1px solid black;
    border-radius: 20px;
    padding: .5rem .5rem;
    height: 87%;
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: #888888 #f4f4f4; 
}

.displaysection::-webkit-scrollbar-track {
    background: #f4f4f4; 
}

.displaysection::-webkit-scrollbar-thumb {
    background: #888888; 
}

.displaysection::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}



@media (max-width:1200px){
    .displaysection{
        margin: .5rem 20%;
    }
}

@media (max-width:900px){
    .displaysection{
        margin: .5rem 10%;
    }
}

@media (max-width:450px){
    .displaysection{
        margin: .5rem 0;
    }
}