@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



.navcontainer{
    width: 100%;
    position: absolute;
    height: 8svh;
    position: fixed;
    background-color: black;
    top: 0px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}


.aipic{
    width: 3.5rem;
}

.botname{
    color: #fff;
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
}

.about{
    position: absolute;
    right: 0;
    padding: 0 3rem;
}

.about a{
    color: #fff;
    padding: .4rem .5rem;
    background-color: rgb(2, 2, 168);
    border-radius: .4rem;
    cursor: pointer;
    font-family: "Pacifico", cursive;

}

.aboutContainer{
    position: absolute;
    top: 10svh; 
    right: .5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 99; 
}